//
    Created by Aaron on 2016/12/19 0019.
doctype  html
html
    head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/css/style.css')
    body
        h1 #{title}
        p Welcome to #{title}
