//
   Created by Aaron on 2016/12/19 0019.
doctype html
html
    head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        include menu
        p Fill in the form below to sign up!
        include messages
        form(action='/register' method='post')
            p: input(type='text' name='user[name]' placeholder='Username')
            p: input(type='password' name='user[pass]' placeholder='Password')
            p: input(type='submit' value='Sign Up')
